################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Foodie/bin/Debug/net8.0
/Foodie/Foodie.csproj.user
/Foodie/obj
